:root {
  --color-g-01: #f7f7f7;
  --color-g-11: #191919;
  --color-g-13: #0e0e0e;
  --color-p-06: #ee441e;
  --color-p-07: #e12f08;
  --color-p-08: #ba2402;
  --color-s-03: #27b9b4;

  --title-fonts: 'Cormorant Garamond', serif;
  --body-fonts: 'Jost', sans-serif;
}

::selection {
  background: #f81ce5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-p-06);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-p-08);
}

html {
  background-color: var(--color-g-13);
  color: var(--color-g-01);
  font-family: var(--body-fonts);
}

.conteiner {
  max-width: 106.25rem;
  padding: 0rem 1.25rem;
  margin: 0rem auto;
}

h1 {
  font-family: var(--title-fonts);
}
